<div class="body-height">
    <div class="myw-topbar">
        <div class="c-topbar__inner myw-container d-flex flex-wrap">
            <ul class="nav">
                <li>
                    <a class="c-topbar__title cursor_point phx-undeline phx-reqMargin" role="button"
                        title="Task Manager">
                        Task Manager
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <app-createnewtask></app-createnewtask>
    <app-detailsview></app-detailsview>
</div>